 body{ 
 margin: 0;
}

html{
    scroll-behavior: smooth;
    
}


:root{
    --bg-color: #020312;
    --textcolor: #fff;
    --main-color: red;
    --second-color: gray;
    --other-color: 12141c;
    --h1-font: 3rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;   
}



/* first section design */
 
 
    #introduction-text{
    font-size: 2rem;
      font-family: 'Alegreya', serif;
    font-style: italic;
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
 
  
   
}

#menu-icon{
    color: black;
    font-size: 30px;
    padding-right: 20px;
}
 

 header{
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;    
    justify-content: space-around;
     background: transparent;
     padding: 2px 16% 15;
     border-bottom: 1px solid transparent;
     transition: all .40 ease;
     position: fixed;

}

.navbar{
    display: flex;
    
   
   }

 .logo{
     height: 100px;
 }

   .navbar a:hover{
    background-color: var(--main-color);
  
}

.navbar a{
    color: blue;
    font-size: medium;
    padding: 10px 15px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease ;
    padding-right: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
    font-weight: 900;
    

}

 header.sticky{
    
    background: white;
    border-bottom: 1px solid ;
    transition: .3s;
}

 #homesection{
    background-image: url(Screenshot_20240223-070832.jpg);
     background-size: cover;
     background-position: center;
     padding-bottom: 50px;
     padding-top: 150px;
}

#Worship-with-usDiv{
    display: flex;
    justify-content: center;

}

#Worship-with-us{
    padding: 20px;
    border-radius: 0.5rem;
    border:  rgb(255, 217, 0) solid 2px;
    background: transparent;
    color:  white;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

#Worship-with-us:hover{
    background:  rgb(255, 187, 0);
    border:  2px solid  black;
    transform: scale(1.01) translateY(-5px);
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 40px;
    margin-bottom: 30px;
    text-align: center;
    transition: all .5s ease-out 0s;
    cursor: pointer;
}
 
.firstaboutsection{
    display: flex;
     justify-content: center;
     margin-bottom: 20px;
}

#firstaboutimg{
    width: 600px;
    height: 400px;
}

.firstaboutsectiontext{
font-size: 1.5rem;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 20px;
}



#aboutheading{
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: fantasy;
    font-weight: 400;

}


.abtbtn{
    padding: 5px;
    border-radius: 0.5rem;
    border:  rgb(255, 217, 0) solid 2px;
    background:blue;
    color:  black;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.abtbtn:hover{
    background:  rgb(255, 187, 0);
    border:  2px solid  black;
    transform: scale(1.01) translateY(-5px);
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 7px;
    text-align: center;
    transition: all .5s ease-out 0s;
    cursor: pointer;
}

#hidebtn1{
    display:none;
}
.image-slideshow {
  max-width: 2000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
 margin-bottom: 50px;
}
.fadeimg{
  width: 97vw;
  height: 100vh;
}
.fade {
  animation-name: fade;
  animation-duration: 4s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
 
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
     width: 400px;
     height: 400px;
     }

  
.card:hover{
  transform: scale(1.1) translateY(-4px);
     }

 .cardtext{
   
    font:'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 10px;
  }

.cardimg{
    width: 400px;
    height: 400;
}

  .more-infoButton{
    font-size: medium;
    padding: 10px 15px;
    margin: 0 2px;
    border-radius: 0.5rem;
    border: red 1px solid;
     background: transparent;
  }

   .more-infoButton:hover{
    background:  red;
    border:  2px solid  rgb(2, 1, 1);
    transform: scale(1.01) translateY(-5px);
    transition: all .5s ease-out 0s;
   }

#upcoming-programs{
    display: flex;
    justify-content: space-evenly;
  }

  .maincard{
        margin-bottom: 40px;
     }

 #slideshowimg2{
    display: none;
 }

 #slideshowimg3{
    display: none;
 }

 .weeklyactivity{
    display: flex;
   align-items: center; 
}

 .weeklyactivityimg{
    width: 300px;
    height: 300px;
 }

 .weeklyactivitietext{
    margin-left: 100px;
 }

 .contact-form{
  position: relative;
  margin-bottom: 120px;
}

.contact-form  input{
border: none;
outline: none;
width: 50%;
padding: 18px;
background: #12141c;
color: var(--textcolor);
font-size: 1rem;
font-weight: 600;
margin-bottom: 0.5rem;
border-radius: 0.5rem;
}

.contact-form textarea{
  resize: 50;
  height: 220px;
   border: none;
outline: none;
width: 50%;
padding: 18px;
background: #12141c;
color: var(--textcolor);
font-size: 1rem;
font-weight: 600;
margin-bottom: 0.5rem;
border-radius: 0.5rem;
}

.contact-form .send{
  display: block;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--textcolor);
  width: 190px;
transition: all .40 ease;
cursor: pointer;
}
.contact-form .send:hover{
transform: scale(1.01) translateY(-5px);
background: transparent;
color: black;
border: 1px solid var(--main-color);
}
.contact-form .send:active{
  background: blue;
}

footer{
  background: #111;

}

.socialIcons{
display:flex;
justify-content: center;
padding: 70px;
}

.socialIcons a{
 text-decoration: none;
 padding: 10px;
 background-color: white;
 margin: 10px;
 border-radius: 50%;

}
.socialIcons a i{
 font-size: 2em;
 color: black;
 opacity: 0.9;
}


.socialIcons a:hover{
background-color: #111;
transition: 0.5s;
 
}
.socialIcons a:hover i{
transition: 0.5s;
color: white;
}

.footerBottom{
background: #000;
padding: 20px;
text-align: center;
}

.footerBottom p{
  color: white;
}
 
@media only screen and (min-width:771px) and (max-width:1024px){
    #firstaboutimg{
    width: 100%;
    height: 400px;
}

.firstaboutsectiontext{
font-size: 1rem;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 0px;
}

.firstaboutsection{
    display: block;
 
}
#hidelement2{
    display: none;
}

#hidebtn1{
    display: none;
}

.firstaboutsection{ 
     margin-bottom: 5px;
}
}


@media only screen and (min-width:770px) and (max-width:2000px){
    #menu-icon{
        display: none;
    }

}


@media (max-width:770px){
   
   
    #menu-icon{
        display: block;
color: #12141c;
    }
    #menu-icon:hover{
      transform: scale(1.01) translateY(-5px);
    }

    .navbar{
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        text-align:left;
        transition: all .40s ease;
    }

    .navbar.active{
        top: 90px;
        
   } 

    #homesection{
     padding-bottom: 100px;
     padding-top: 100px;
}



  #introduction-text{
  font-size: 1.2rem;
 align-items: center;
 padding-top: 20px;
   
}


#Worship-with-us{
    padding: 10px;
    font-size: 1rem;
   
} 


#Worship-with-us:hover{
    background:   rgb(255, 187, 0);
    border:  2px solid  black;
    transform: scale(1.01) translateY(-5px);
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    padding: 13px 20px;
    margin-bottom: 15px;
    text-align: center;
    transition: all .5s ease-out 0s;
    cursor: pointer;
}


 #firstaboutimg{
    width: 100%;
    height: 300px;
}

.firstaboutsectiontext{
font-size: 1rem;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 0px;
 
}

.firstaboutsection{
    display: block;
 
}

 #homesection{
     padding-bottom: 150px;
}

#Worship-with-usDiv{
   margin-top: 30px;
}


.hiddenelement{
    display:none;
}

#hidebtn2{
    display:none;
}
#hidebtn1{
    display:block;
}

}

@media only screen and (min-width:1024px) and (max-width:1230px){
.firstaboutsectiontext{
font-size: 1.2rem;
}

#hidebtn1{
    display:none;
}

 
}



@media (max-width:860px){
     .card {
     width: 300px;
     height: 300px;
    
     }

  .maincard{
 display: flex;
     justify-content: center;
  }

.cardimg{
    width: 300px;
    height: 300p;
}

   
#slideshowimg2{
    display: block;
}
 
#slideshowimg1{
display: none;
}

 #slideshowimg3{
    display: block;
 }

}

 @media (max-width:640px){
   .card {
     width: 200px;
     height: 300px;
    
     }

 }

 


     @media (max-width:500px){
     .card {
     width: 300px;
     height: 300px;
    
     }

     #upcoming-programs{
        display: block ;
     }
  .maincard{
 display: flex;
     justify-content: center;
  }

.cardimg{
    width: 300px;
    height: 300p;
}
     }


          @media (max-width:600px){
  .weeklyactivityimg{
    width: 200px;
    height: 200px;
 }

 .weeklyactivitietext{
    margin-left: 10px;
    font-size: 0.6rem;
 }
     }