   #heb2-10 {
 
      display: flex;
      justify-content: center;
    }

    #heb2-10-words {
      margin-top: 20px;

    }

    #box-img {
      height: 160px;
      width: 221px;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    .first-box {

      border: 4px solid black;
      width: 230px;
      border-radius: 0.5rem;
      padding-bottom: 30px;
      margin-top: 15px;
    }

    .read-button {
      font-size: medium;
      padding: 10px 15px;
      margin: 0 2px;
      border-radius: 0.5rem;
      border: black 1px solid;
      background:  red;
    }

    .read-button:hover {
      background: transparent;
      border: 2px solid rgb(2, 1, 1);
      transform: scale(1.01) translateY(-5px);
      transition: all .5s ease-out 0s;
      border:  red 1px solid;
    }
    .read{
  display: flex;
  justify-content: center;
    }

    .main-box{
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px ;
    }

    .pstimg{
     width: 1000px;
     height: 600px;
    }
  .pstimgdiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  #getoknowus{
    display: flex;
    justify-content: center;
  }

  #extraimg{
  width: 98vw;
  }

  .visiontext{
    display: flex;
    justify-content: space-around;
  }

  .about{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .aboutusdescription{
    font-size: 1.7rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  @media (max-width:770px){
    .visiontext{
    display:block;
  }

  .aboutusdescription{
    font-size: 1.2rem;
  }

  .extraimgdiv{
   display: flex;
   justify-content: center;
  }

  }